<div class="row">
  <div *ngIf="user$ | async as user" class="col-6 offset-3">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(user)">
      <ng-container *ngFor="let col of cols">
        <app-form-group [col]="col" [entity]="user"></app-form-group>
      </ng-container>
      <div class="d-grid gap-2 mt-3">
        <button
          [disabled]="userForm.invalid"
          class="btn btn-primary"
          type="submit">
            <i class="fa fa-save"></i>
        </button>
      </div>
    </form>
  </div>
</div>
